<ul>
	<%@games.each() do |game|%>
		<h2><li>
			<form action='/<%= game.id()%>' method='post'>
				<input type='hidden' name='letter' value='continue'>
				<button class='btn btn-default'><%= game.name()%></a>
			</form>
		</li></h2>
	<%end%>
</ul>

<form action='/new' method='post'>
	<div class='form-group'>
		<label for='name'>Name</label>
		<input id='name' name='name' placeholder="Ralph&#39s Game" type='text' class='form-control'>
	</div>
	
	<button class='btn btn-primary'>New Game</button>
</form>